################################################################################
# Python, Django
################################################################################

__pycache__

# Default Django Database
db.sqlite3
media