{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Ryan Streur{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Behold My Awesome Project!">
  <meta name="author" content="Ryan Streur">

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}

  <link rel="stylesheet" href="{% static 'css/site.css' %}">

  {% endblock %}

  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}

  <!-- place project specific Javascript in this file -->
  <script defer src="{% static 'js/project.js' %}"></script>

  {% endblock javascript %}

</head>

<body>

  <div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button"
        class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    {% endfor %}
    {% endif %}

  </div>

  <nav>
    <ul class="menu bg-color">
      <li>
        <a href="">
        </a>
      </li>
    </ul>
  </nav>

  <h1 class="nav-title nav-title-outer stick-to-top bg-color">
    <a href="/">Ryan Streur</a>
  </h1>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  {% block modal %}{% endblock modal %}

  {% block inline_javascript %}
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}
</body>

</html>
