<ul>
<%= if @current_users do %>
  <li><%= @current_users.email %></li>
  <li><%= link "Settings", to: Routes.users_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.users_session_path(@conn, :delete), method: :delete %></li>
<% else %>
<% end %>
</ul>
